{{#> layout}}
  {{#if deleted }}
    <h1>Key deleted</h1>
    <p>We deleted your key from the server. You can re-upload any time.</p>
  {{else}}
    <h1>Key deletion failed</h1>
    <p>We don't recognize the token you provided. It's either wrong or expired.
    You can request the deletion of your key again to get another deletion token.</p>
  {{/if}}
{{/layout}}
