<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Please confirm deletion of your key</title>
  </head>
  <body>
    <a href='https://{{ domain }}/vks/confirm/{{ token }}'>Click here</a> to confirm deleting your key.
  </body>
</html>
