html, body {
  height: 100%;
  background: #f0f0;
}

.cover {
  background: #f0f0 url('') center center no-repeat;
  background-size: cover;
  padding: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 50px;
  border: 1px solid #ddd;
}

.cover-caption {
  width: 100%;
}

input {
  width: 100% !important;
}

.btn {
  width: 100%;
}

.modal-lg {
  max-width: 40% !important;
}

.footer {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  font-size: 13px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
