<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Please verify your email address</title>
  </head>
  <body>
    <a href='https://{{ domain }}/vks/verify/{{ token }}'>Click here</a> to verify {{ address }}
  </body>
</html>
